In [12]:
import pandas as pd

In [14]:
currency = pd.read_csv('./data/currencies.csv')
currency = currency.drop(currency.columns[0], axis=1)
currency

  name        date      en     price percent
0   미국  2025.06.20  USDKRW  1,377.64  -0.32%
1   일본  2025.06.20  JPYKRW    948.37  -0.02%
2   중국  2025.06.20  CNYKRW    191.64  -0.31%
3   유로  2025.06.20  EURKRW  1,584.48  +0.02%
4   홍콩  2025.06.20  HKDKRW    175.49  -0.32%

In [15]:
indicators = pd.read_csv('./data/indicators.csv')
indicators = indicators.drop(indicators.columns[0], axis=1)
indicators

             name     date          price
0         소비자물가지수  2025.05         116.27
1  경제성장률(GDP, 실질)    전년 대비           1.40
2             실업률  2025.05           2.80
3            경상수지  2025.04       5,701.70
4    투자자 예탁금(백만원)  2025.05  57,297,162.00

********************